@import "tailwindcss";

@font-face {
    font-family: "Baloo";
    src:
        local("Baloo"),
        url("/font/Baloo-Regular.ttf") format("truetype"),
}

body {
    font-family: "Rubik";
}

/* aaa */
@theme inline {
    --color-blue1: var(--clr-blue1);
    --color-blue2: var(--clr-blue2);
    --color-blue3: var(--clr-blue3);


    --font-baloo: var(--font);

}


@layer base {
    :root {
        --clr-blue1: oklch(0.3731 0.1653 264.17);
        --clr-blue2: oklch(0.5061 0.2314 264.13);
        --clr-blue3: oklch(0.6315 0.1624 248.37);

        --clr-red1: oklch(0.5474 0.2039 26);
        --clr-red2: oklch(0.5909 0.2047 24.54);
        --clr-red3: oklch(0.6324 0.161 21.05);
        --clr-red4: oklch(0.6867 0.1319 19.35);

        --clr-green1: oklch(0.4977 0.1125 156.45);
        --clr-green2: oklch(0.5921 0.1356 156.37);
        --clr-green3: oklch(0.7392 0.1766 155.37);
        --clr-green4: oklch(0.8848 0.1309 161.68);

        --clr-gray1: oklch(0.87 0.0178 282.5);
        --clr-gray2: oklch(0.7677 0.0256 280.73);
        --clr-dark: oklch(0.2424 0.0266 216.66);

        --font: 'Baloo';
    }
}

@layer utilities {
    .mono {
        font-family: var(--font);
    }
}